$focus-state-box-shadow-color: rgba(92, 106, 196, 0.8);

$themes: (
  default: (
    tab-title-hover: color('sky'),
    tab-focus-box-shadow: $focus-state-box-shadow-color,
    tab-focus-title-border: color('indigo', 'light'),
    tab-visited: color('ink', 'lighter'),
    tab-selected-title-border: color('indigo'),
  ),
);
