$focus-state-box-shadow-color: rgba(92, 106, 196, 0.8);

$themes: (
  default: (
    tab-title-text: color('ink', 'lighter'),
    tab-selected-title: color('ink'),
    tab-title-hover-emphasis: color('ink'),
    tab-title-hover: color('sky'),
    tab-selected-title-border: color('indigo'),
    tab-focus-title-border: color('indigo', 'light'),
    tab-focus-box-shadow: $focus-state-box-shadow-color,
    tab-selected-emphasis: color('ink'),
    tab-visited: color('ink', 'lighter'),
    disclosure-activator-icon: color('ink', 'lighter'),
  ),
  dark: (
    tab-title-text: color('sky'),
    tab-selected-title: color('sky', 'light'),
    tab-title-hover-emphasis: color('ink', 'lightest'),
    tab-title-hover: color('ink', 'light'),
    tab-focus-box-shadow: color('indigo', 'light'),
  ),
);
